/old/Count.ly/Countly.csproj.user
/old/Count.ly/Bin
/old/Count.ly/obj
/old/Count.ly/Properties
/old/CountlyTest/obj
/old/CountlyTest/Bin
/old/CountlyTest/CountlyTest.csproj.user
/old/jasonlamkk-OpenUDID.Net-9cd8f14/OpenUDID.Net/OpenUDIDCSharp/*
/old/jasonlamkk-OpenUDID.Net-9cd8f14/OpenUDID.Net/OpenUDIDPhone/obj
/old/jasonlamkk-OpenUDID.Net-9cd8f14/OpenUDID.Net/OpenUDIDPhone/Bin
obj
Bin
/old/jasonlamkk-OpenUDID.Net-9cd8f14/OpenUDID.Net/PhoneAppTester/PhoneAppTester.csproj.user
/old/jasonlamkk-OpenUDID.Net-9cd8f14/OpenUDID.Net/WindowsDesktopConsoleTester/obj
/old/jasonlamkk-OpenUDID.Net-9cd8f14/OpenUDID.Net/WindowsDesktopConsoleTester/bin
/old/jasonlamkk-OpenUDID.Net-9cd8f14/OpenUDID.Net/OpenUDID.Net.suo
