<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncBridge" version="0.3.1" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net35" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
  <package id="xunit" version="1.9.2" targetFramework="net35" />
  <package id="xunit.runner.visualstudio" version="2.4.0" targetFramework="net35" developmentDependency="true" />
</packages>